body{
    font-family:'Montserrat', sans-serif;
    background-color: aquamarine;
    
}

h5{
    
    line-height:50px;
}


header {
    width:100Vw;
    height:60px;
    background-color:white;
}


main{
    padding: 2rem;
    margin: top 3rem;
    height:calc(100vh - 120px);
}

footer{
    width:100Vw;
    height:60px;
    background-color:white;
    position:fixed;
}

footer span{
    color:red;
}

div#grid, div#grid-intermediate, div#grid-high {
    margin:0 auto;
    width:400px;
    height:400px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

div#grid .single-box{
    border:1px solid black;
    width: calc(100% / 10);
    height: calc(100% / 10);
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    cursor: crosshair;
    
}

div#grid-intermediate .single-box-intermediate{
    border:1px solid black;
    width: calc(100% / 9);
    height: calc(100% / 9);
    float:left;
    width: calc(100% / 9);
    height: calc(100% / 9);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    cursor: crosshair;}

div#grid-high .single-box-high{
    border:1px solid black;
    float:left;
    width: calc(70% / 5);
    height: calc(70% / 5);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    cursor: crosshair;
}

div#grid .single-box.clicked, div#grid-intermediate .single-box-intermediate.clicked, div#grid-high .single-box-high.clicked{
    background-color: cornflowerblue;
    color:white;
}
.small-text{
    font-size:0.8rem;
    line-height:60px;
}

#play-btn{
    padding:0;
    
    font-size:.8rem;
}

#main-logo{
    width:35px;
    height:35px;
}

#game-level{
    font-size:.8rem;
}

.clearfix {
    content:"";
    display:table;
    clear:both;
}

.relative{
    position:relative;
}

.float-right{
    float:right;
}